<div class="jumbtron">
    <br>    
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Maquina espendedora</mat-card-title>
          <mat-card-subtitle>Pasabocas</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="col-md-6">            
            <app-vending-machine></app-vending-machine>
        </div>
        <div class="col-md-6">            
            <app-transition-table></app-transition-table>
        </div>
    </div>
</div>
