<mat-drawer-container class="container">
    <mat-card fxFlex>
        <div fxLayout="row">
            <mat-card-title fxLayout="row">
                <h2 class="mat-h2">Tabla de transiciones</h2>
            </mat-card-title>
        </div>
        <mat-card-content class="smaller-card-content" fxLayout="column" fxLayout.lg="column" fxLayout.xl="column">
            <div fxFlex.lg fxFlex>
                <div fxLayout="row" fxLayout.xl="row">
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</mat-drawer-container>